/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   /* header */
   header{
    padding: 10px 0px;
   }
    .menu ul li a{
        padding: 5px 0px !important;
        font-size: 20px !important;
        text-align: end !important;
    }
        /* slider */
    .slider {
        padding-bottom: 60px;
    }
    .slider_text {
        margin-top: 0px;
    }
    .slider_text h1 {
        font-size: 28px;
    }
    .slider_text h2 {
        margin: 10px 0px;
        font-size: 18px;
    }
    .slider_text p {
        margin-bottom: 20px;
    }
    .slider_icon i {
        font-size: 35px;
        padding-left: 10px !important;
    }
    .c_ind {
        bottom: -55px;
    }
    .c_ind [data-bs-target] {
        width: 13px;
        height: 13px;
        border-radius: 50%;
    }
    /* feature */
    .feature {
        padding: 50px 0px;
    }
    .title {
        font-size: 25px !important;
        padding-bottom: 15px !important;
    }
    .text {
        line-height: 25px;
        font-size: 18px;
    }
    .f_item {
        margin-top: 20px;
    }
    .f_text {
        padding-right: 0px;
        margin-bottom: 10px !important;
    }
    .f_icon i{
        padding-bottom: 15px;
        font-size: 38px;
    }
    .f_text h2{
        text-align: center;
    }
    .f_text p{
        text-align: center;
    }
    /* contact */
    .contact {
        padding: 50px 0px;
    }
    .f_text p {
        letter-spacing: 0px;
        font-size: 15px;
    }
    .c_input{
        height: 40px;
    }
    .c_button{
        height: 40px;
        margin-top: 10px;
    }
    .form_box {
        margin-top: 35px;
    }
    .c_icon i {
        padding-left: 20px;
        font-size: 38px;
    }
    /* fotter */
    .fotter {
        padding-bottom: 50px;
    }
    .fotter address{
        text-align: center;
        margin-bottom: 30px !important;
    }
    .f_text{
        text-align: center;
        margin-bottom: 30px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
   /* header */
   header {
    padding: 10px 0px;
}
   .menu ul li a{
    padding: 8px 0px !important;
    text-align: end !important;
}
/* slider */
.slider {
    padding-bottom: 60px;
}
.slider_text {
    margin-top: 10px;
}
.slider_icon i {
    font-size: 40px;
    padding-left: 20px;
}
.c_ind {
    bottom: -55px;
}
/* feature */
.feature {
    padding: 70px 0px;
}
.title {
    padding-bottom: 15px !important;
}
.f_item {
    margin-top: 60px;
}
.f_text{
    padding-right: 0px;
}
.f_icon i{
    padding-bottom: 15px;
    font-size: 40px;
  }
.f_text h2{
    text-align: center;
}
.f_text p{
    text-align: center;
}
/* contact */
.contact {
    padding: 70px 0px 60px;
}
.c_input{
    height: 45px;
}
.c_button{
    height: 45px;
    margin-top: 15px;
}
.c_icon i {
    padding-left: 25px;
    font-size: 40px;
}
/* fotter */
.fotter {
    padding-bottom: 70px;
}
.fotter address{
    text-align: center;
    margin-bottom: 30px !important;
}
.f_text{
    text-align: center;
    margin-bottom: 30px;
}
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* header */
    header {
        padding: 20px 0px;
    }
    .menu ul li a{
        padding: 10px 0px !important;
        text-align: end !important;
 }
 /* slider */
 .slider {
    padding-bottom: 80px;
}
 .slider_text {
    margin-top: 20px;
}
.c_ind {
    bottom: -60px;
}
/* feature */
.f_text{
    padding-right: 0px;
}
.f_icon i {
    font-size: 45px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  
 }
 
/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  
 }

